@font-face {
    font-family: fa-solid;
    src: url(~@/assets/fonts/fa-solid.ttf);
}
@font-face {
    font-family: mochiy;
    src: url(~@/assets/fonts/mochiy/MochiyPopOne-Regular.ttf);
}
@font-face {
    font-family: archi;
    src: url(~@/assets/fonts/archi/archi.ttf);
}
